{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<script>
  function messageSentAlert(){
    alert("Message sent!")
  }
</script>

<h1 style="padding-top: 20px;">Contact Us!</h1>
    <div style="padding-top: 20px;">
      <form method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success" onclick="messageSentAlert()">Submit</button>
      </form>
    <div style="padding-top: 40px;">
    
      <table class="table" tableid="table1">
      <h4 style="padding-bottom: 20px;">Alternative ways to find us!</h2>
        <thead>
          <tr>
            <td>Phone ☎️</td>
            <td>Fax 📠</td>
            <td>Address 🏢</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>(01) 626 0066</td>
            <td>(01) 626 0067</td>
            <td>250 Grand Canal Dock, Dublin 2</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
