{% extends 'base.html' %}

{% load static %}
{% block content %}

<img style="margin-left: 16vw;" src="{% static 'images/Peter.jpg' %}" class="card-img-top-2 w-50" alt="...">


<h1 class="py-3">Feedback</h1>

{% if user.is_authenticated%}
    {% for feedback in object_list %}
        <div class="card">
            <div class="card-header">
                {{feedback.user}}
            </div>
            <div class="card-body">
                <p class="card-text">{{feedback.feedback}}</p>
                <p class="card-text small disabled">{{feedback.date}}</p>
                <a href="{%url 'feedback_edit' feedback.pk%}" class="btn btn-primary">Edit</a>
                <a href="{%url 'feedback_delete' feedback.pk%}" class="btn btn-danger">Delete</a>

            </div>
        </div>
        <br>
      
        
    {% endfor %}
    <div style="padding-bottom: 20em;">
        <a class="btn btn-danger" href="{% url 'feedback_new' %}">New</a>
    </div>
   

   {% else %}
        <p style="padding-left: 2px;">Log in to leave feedback!</p>
        {% for feedback in object_list %}
        <div class="card">
            <div class="card-header">
                {{feedback.user}}
            </div>
            <div class="card-body">
                <p class="card-text">{{feedback.feedback}}</p>
                <p class="card-text small disabled">{{feedback.date}}</p>

            </div>
        </div>
        <br>
      
        
    {% endfor %}
   {% endif %}
   


{% endblock content %}
